	<!-- footer -->
	<footer class="footer">
		<p class="footer-copyright">© Haniwaman Landing page Sample.</p>
	</footer> <!-- /footer -->

	<!-- drawer.jsを使うにはjquery & iScrollが必要 -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.1.3/iscroll.min.js"></script>
	<!-- スライダー swiper -->
	<script src="dist/js/swiper.min.js"></script>
	<!-- アニメーション animate.cssと一緒に使う -->
	<script src="dist/js/wow.min.js"></script>
	<!-- ドロワーメニュー drawer.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.1/js/drawer.min.js"></script>
	<script src="dist/js/script.min.js"></script>
</body>
</html>
