<% var title = 'chizumi_shimaenaga'; %>
<% var description = 'ちづみ模写(入門編)'; %>
<% include common/_header %>

	<!-- mv -->
	<section class="mv" id="totop">
		<div class="mv-inner">
		</div>
	</section> <!-- /mv -->

	<!-- service -->
	<section class="service">
		<h2 class="service-heading">Our Ability</h2>
		<div class="service-inner wow slideInRight" data-wow-duration="2s">
			<div class="service-wrap ">
				<div class="service-img">
					<img src="dist/img/img1.png" alt="service-img1">
				</div>
				<h3 class="service-title">Heal</h3>
				<p class="service-text">We are excellent.</p>
			</div>
			<div class="service-wrap">
				<div class="service-img">
					<img src="dist/img/img2.png" alt="service-img2">
				</div>
				<h3 class="service-title">Fly</h3>
				<p class="service-text">We are talented.</p>
			</div>
			<div class="service-wrap">
				<div class="service-img">
					<img src="dist/img/img3.png" alt="service-img3">
				</div>
				<h3 class="service-title">Sleep</h3>
				<p class="service-text">We are clever.</p>
			</div>
		</div>
	</section>	<!-- service -->

	<!-- news -->
	<section class="news">
		<div class="news-inner">
			<div class="news-wrap">
				<h2 class="news-title">We are necessary for human life.</h2>
				<p class="news-text">Because we are very cute.<br> Please leave it to us if you need help.</p>
				<div class="news-btn">
					<a href="#">MORE</a>
				</div>
			</div>
			<div class="news-img wow fadeIn">
				<img src="dist/img/img-right.jpg" alt="news-img">
			</div>
		</div>
	</section>	<!-- news -->

	<% include common/_footer %>



