.header {
	// position: fixed;
	width: 100%;
	@include z-index(header);
	height: $header-height;
	padding: 10px 150px;
	display: flex;
	justify-content: space-between;

	@include mq("tab") {
		padding: 10px 48px;
	}
	@include mq("sp") {
		padding: 10px $pd-sp;
		height: $header-height-sp;
	}

	&-logo {
		width: 256px;

		@include mq("sp") {
			width: 200px;
		}

		&:hover {
			opacity: $opacity;
		}
	}

	.drawer-hamburger {
		display: none;
		top: 0.2%;
		right: 2%!important;
		width: 26px;

		@media (max-width: 767px) {
			display: block;
		}
	}

	&-nav {
		display: block;
		@include mq("sp") {
			display: none;
		}
	}

	&-list {
		list-style: none;
	}

	&-item {
		display: inline-block;
		margin-top: 12px;
	}

	&-item + &-item {
		margin-left: 40px;

		@include mq("tab") {
			margin-left: 30px;
		}
	}

	&-item a{
		font-weight: bold;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid transparent; //hover時のがたつきをなくす
		&:hover {
			border-bottom: 1px solid $cr-m;
		}
	}

	.js-header-item-active {
		border-bottom: 1px solid $cr-m;
	}

	.drawer-nav {
		display: none;
		color:$cr-txt;
		width: 300px; //幅の指定、全画面なら100%
		z-index: 40;
		text-align: center;

    @media (max-width: 767px) {
			display: block;
		}
	}

  .drawer-menu-item{
		position: relative;
		font-size: 1.7rem;
		padding: 1.75rem;
		border-bottom: 1px solid #51A2BC;

		a {
			text-decoration: none;
			&:hover {
				background: rgba(81, 162, 188, 0.07);
			}
		}
  }
}

.drawer-open {
	.drawer-hamburger{
		right: 30rem!important; //ハンバーガーメニュー表示位置
		position: absolute;
		padding: 15px 1.75rem 30px;

		.header-icon {
			display: none;
		}

		&:before {
			font-family: "Font Awesome 5 Free";
			content: '\f00d';
			font-weight: 900;
			color: white;
			font-size: 3rem;
		}
	}
  // ヘッダーとロゴが上に表示されるため背景色と非表示へ
	header {
		background-color: #FFFFFF;
		.header-logo,
		.headr-icon {
			display: none;
		}
	}
}

.drawer--right .drawer-nav {
	right: -30rem; //drawer-navの幅のマイナス値
}

.drawer-overlay {
	background-color: rgba(81, 162, 188, 0.77);
}







